#map { position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 0;
background: rgba(51,51,51,0.7);
z-index: 10; }

.leaflet-control-info {
  position: fixed;
  max-width: 100%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.leaflet-control-info-button {
  display: inline-block;
  padding: 0 12px;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  color: #a2a2a2;
  cursor: pointer;
}

.leaflet-control-info-button:hover {
  background-color: #f4f4f4;
  border-color: transparent;
  color: #a2a2a2;
  cursor: pointer;
}

.leaflet-control-layers-menu {
  width: 35vw;
  max-width: 100%;
}
