<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <title></title>

    <body>
        <img class="mx-auto d-block" style="max-height: 75px; max-width: 75px;" src="factory_pollution.png" alt="building expelling pollution">
        <div class="mx-auto" style="width: 540px;">
            
            <h1>Environmental data near here</h1>
            <br>
            <p class="text-center">A range of groups publish environmental data near here.  <a style="text-decoration: underline;" href="#">Read more</a> or <a style="text-decoration: underline;" href="#">share your own map data.</a></p>
            <br>
        </div>
        <div class="mx-auto" style="width: 750px;">
            <table class="table">
                <tbody>
                  <tr>
                    <td>Joe</td>
                    <td><button style="line-height: 10px;" type="button" class="btn btn-default">Default</button></td>
                    <td><a href="#">Frac Tracker</a></td>
                    <td class="font-weight-bold">Oil and gas infrastructure</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td><button style="line-height: 10px;" type="button" class="btn btn-default">Default</button></td>
                    <td><a href="#">Justice Map</a></td>
                    <td class="font-weight-bold">Race, ethnicity, & demographic data</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td><button style="line-height: 10px;" type="button" class="btn btn-default">Default</button></td>
                    <td><a href="#">OdorLog.com</a></td>
                    <td class="font-weight-bold">Community reports of odors</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td><button style="line-height: 10px;" type="button" class="btn btn-default">Default</button></td>
                    <td><a href="#">OpenAQ</a></td>
                    <td class="font-weight-bold">Air quality data from various sources</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td><button style="line-height: 10px;" type="button" class="btn btn-default">Default</button></td>
                    <td><a href="#">Toxic Release Inventory</a></td>
                    <td class="font-weight-bold">US gov't collected data from polluting industry</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td><button style="line-height: 10px;" type="button" class="btn btn-default btn-xs">Default</button></td>
                    <td><a href="#">Sky Truth Alerts</a></td>
                    <td class="font-weight-bold">Recent state-level reports of pollution</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>